@use "variables";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: variables.$Font-size-body;
  font-family: variables.$Font-family-body;
  font-weight: 400;
  background-color: variables.$Very-dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
