// Colors
$Very-dark-blue: hsl(233, 47%, 7%);
$Dark-desaturated-blue: hsl(244, 38%, 16%);
$Soft-violet: hsl(277, 64%, 61%);
$Soft-violet-picture: hsl(277, 64%, 61%, 57%);
$White: hsl(0, 0%, 100%);
$Slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75);
$Slightly-transparent-white-h: hsla(0, 0%, 100%, 0.6);
// Fonts
$Font-size-body: 15px;
$Font-family-body: "Inter", sans-serif;
$Font-family: "Lexend Deca", sans-serif;
